.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.container {
  width: 100%;
}

.header .container {
  align-items: center;
}

.footer .container {
  justify-content: space-between;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .cointainer {
    width: 480px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .footer .cointainer {
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 768px;
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
    justify-content: center;
    width: 1200px;
  }
}

.body {
  width: 100%;
  font-family: "Roboto", sans-serif;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .body {
    max-width: 480px;
  }
}

.header {
  background-color: #fff;
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header {
    height: 60px;
    align-items: center;
    width: 480px;
    position: relative;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header {
    height: 80px;
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    height: 80px;
    width: 1600px;
  }
}

.footer {
  background-color: #2f303a;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 603px;
    width: 480px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer {
    display: flex;
    flex-wrap: wrap;
    height: 463px;
    position: relative;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    height: 252px;
    padding-top: 40px;
    width: 1600px;
  }
}

.hero {
  background-color: #757575;
  margin-top: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hero__title {
  line-height: 1.38em;
  text-transform: uppercase;
  padding-top: 200px;
  margin: 0px;
  font-weight: 900;
  letter-spacing: 0.06em;
}

.hero__button {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875em;
  background-color: #2196f3;
  margin-top: 150px;
}

.hero__button:hover, .hero__button:focus {
  cursor: pointer;
}

.hero__title, .hero__button {
  color: #fff;
  text-align: center;
  letter-spacing: 0.06;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/index/poster/hero-mini.jpg");
    height: 400px;
    width: 480px;
    display: flex;
  }
  .hero__title {
    width: 365px;
    height: 84px;
    font-size: 26px;
    padding-top: 118px;
  }
  .hero__btn {
    margin-top: 30px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px) and (max-width: 767px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px) and (max-width: 767px), (min-resolution: 192dpi) and (min-width: 320px) and (max-width: 767px), (min-resolution: 2dppx) and (min-width: 320px) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/index/poster/hero-mini@2x.jpg");
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/index/poster/hero-semi.jpg");
    height: 400px;
    background-size: cover;
  }
  .hero__title {
    width: 365px;
    height: 84px;
    font-size: 26px;
    padding-top: 120px;
  }
  .hero__button {
    margin-top: 114px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), (min-resolution: 192dpi) and (min-width: 768px), (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/index/poster/hero-semi@2x.jpg");
    background-size: cover;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/index/poster/hero-maxi.jpg");
    height: 600px;
    width: 1600px;
    background-size: cover;
  }
  .hero__title {
    width: 696px;
    height: 120px;
    font-size: 44px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), (min-resolution: 192dpi) and (min-width: 1200px), (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/index/poster/hero-maxi@2x.jpg");
  }
}

.atuts__list {
  display: flex;
  list-style: none;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}

.atuts__icon-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
}

.atuts__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
}

.atuts__title {
  font-weight: 700;
  line-height: 1.142em;
  text-transform: uppercase;
  margin-top: 30px;
}

.atuts__text {
  width: 270px;
  height: 75px;
  line-height: 1.714em;
  color: #757575;
}

.atuts__title, .atuts__text {
  font-size: 14px;
  letter-spacing: 0.03;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .atuts {
    width: 480px;
  }
  .atuts__list {
    flex-direction: column;
    align-items: center;
    align-self: center;
  }
  .atuts__icon-bg {
    width: 450px;
  }
  .atuts__title,
  .atuts__text {
    display: flex;
    text-align: center;
    width: 420px;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .atuts {
    height: 627px;
    width: 768px;
  }
  .atuts__list {
    margin-top: 60px;
    margin-bottom: 45px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .atuts__text {
    width: 354px;
  }
  .atuts__icon-bg {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .atuts__list {
    justify-content: space-between;
    padding-top: 94px;
    width: 1200px;
  }
}

.about-us__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
  width: 100%;
}

.about-us__img {
  position: relative;
}

.about-us__text {
  box-sizing: border-box;
  position: absolute;
  bottom: 2px;
  width: 100%;
  height: 70px;
  text-transform: uppercase;
  text-align: center;
  background-color: rgba(47, 48, 58, 0.8);
  color: #fff;
  font-weight: 700;
  padding-top: 27px;
  line-height: 1.172em;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .about-us {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .about-us {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .about-us {
    height: 386px;
    flex-direction: column;
  }
}

.team {
  justify-content: space-between;
  background-color: #f5f4fa;
}

.team__list {
  list-style: none;
  justify-content: space-between;
}

.team__card {
  width: 270px;
  height: 428px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.team__name {
  font-weight: 500;
  margin-top: 30px;
}

.team__profession {
  color: #757575;
  margin-bottom: 10px;
}

.team__profession, .team__name {
  font-size: 16px;
  line-height: 1.186em;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__social {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  list-style: none;
  width: 206px;
  padding-left: 0;
  margin: auto;
}

.team__link {
  width: 44px;
  height: 44px;
  fill: #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team__link:hover, .team__link:focus {
  fill: #fff;
  background-color: #2196f3;
  border-radius: 50%;
}

.team__icon {
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .team {
    height: 2761px;
    width: 480px;
    display: flex;
    flex-direction: column;
  }
  .team .secondary-title {
    padding-top: 0;
    margin-bottom: 0px;
  }
  .team__list {
    padding: 0px;
  }
  .team__card {
    height: 622px;
    width: 450px;
    align-content: space-between;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  .team__img {
    width: 450px;
    height: 460px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team {
    width: 768px;
    height: 1285px;
    flex-wrap: wrap;
  }
  .team .secondary-title {
    padding-top: 60px;
    margin: 0;
  }
  .team__list {
    flex-wrap: wrap;
  }
  .team__card {
    width: 354px;
    height: 536px;
    margin-bottom: 30px;
  }
  .team__img {
    width: 354px;
    height: 374px;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    height: 708px;
    width: 1600px;
  }
  .team .secondary-title {
    padding-top: 94px;
    width: 1600px;
  }
  .team__img {
    width: 270px;
    height: 260px;
  }
}

.clients {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
}

.clients__link:hover, .clients__link:focus {
  fill: #2196f3;
  background-color: #fff;
  border: 1px solid #2196f3;
}

.clients__icon {
  width: 106px;
  height: 60px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .clients {
    width: 480px;
    height: 426px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px;
  }
  .clients__link {
    width: 210px;
    height: 92px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients {
    height: 300x;
    width: 768px;
    display: flex;
    flex-wrap: wrap;
  }
  .clients__link {
    margin-bottom: 30px;
    width: 226px;
    height: 92px;
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    width: 1200px;
    padding-left: 0;
  }
  .clients__link {
    margin-bottom: 94px;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: #fff;
}

.modal__btn--close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.modal__btn--close:hover, .modal__btn--close:focus {
  fill: #2196f3;
}

.modal__title {
  font-style: 700;
  font-size: 20px;
  line-height: 1.15em;
  letter-spacing: 0, 03em;
  margin-top: 40px;
  margin-bottom: 12px;
  color: #212121;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.form__label {
  font-size: 12px;
  line-height: 1.67em;
  letter-spacing: 0.01;
  color: #757575;
  margin-bottom: 4px;
  margin-left: 40px;
  margin-right: 40px;
}

.form__input {
  height: 40px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input, .form__input--coment {
  border: 1px solid rgba(33, 33, 33, 0.2);
  justify-self: center;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 4px;
  width: 448px;
}

.form__input--coment {
  height: 120px;
  padding: 16px 12px 16px 12px;
  margin-left: 40px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus + .form__icon {
  fill: #2196f3;
}

.form__input:focus, .form__input--coment:focus {
  border-color: #2196f3;
  outline: none;
}

.form__icon {
  fill: #212121;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 11px;
  left: 12px;
  transition: fill 250mss cubic-bezier(0.4, 0, 0.2, 1);
}

.form__icon--position {
  position: relative;
  align-self: center;
}

.form__checkbox:checked + .form__reg::before {
  background-image: url("../images/check.svg");
  background-color: #2196f3;
  border: 3px solid #2196f3;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.form__reg {
  font-size: 14px;
  line-height: 1.174em;
  letter-spacing: 0.03em;
  color: #757575;
  align-self: center;
}

.form__reg--link {
  color: #2196f3;
}

.form__reg::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid #000;
  border-radius: 1px;
  transition: 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  margin-right: 5px;
}

.form__sub-btn {
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  color: #fff;
  box-shadow: 4px, 0px, 4px, rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
  text-align: center;
  line-height: 1.875em;
  align-self: center;
  margin-top: 30px;
}

::placeholder {
  font-size: 12px;
  line-height: 1.167em;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .modal {
    width: 450px;
    min-height: 620px;
  }
  .modal__title {
    width: 370px;
    height: 60px;
    text-align: center;
    align-self: center;
    display: flex;
    margin: 40px;
    padding-left: 20px;
    line-height: 30px;
    margin-bottom: 12px;
  }
  .form__input, .form__input--coment {
    width: 370px;
  }
  .form__reg {
    font-size: 12px;
  }
}

.filtr {
  display: flex;
  padding: 0px;
  justify-content: center;
  list-style: none;
}

.filtr__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625em;
  text-align: center;
  letter-spacing: 0.03;
  border-radius: 4px;
  min-height: 38px;
  border: none;
  margin-left: 8px;
  padding-left: 22px;
  padding-right: 22px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filtr__btn:focus, .filtr__btn:hover {
  color: #fff;
  background-color: #2196f3;
  cursor: pointer;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .filtr {
    flex-wrap: wrap;
    margin-top: 60px;
    margin-bottom: 0;
    justify-content: start;
    width: 480px;
  }
  .filtr__btn {
    margin-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .filtr {
    width: 768px;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .filtr {
    margin-top: 94px;
    margin-bottom: 50px;
  }
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  margin-bottom: 30px;
  list-style: none;
  padding: 0;
}

.portfolio__carts {
  width: 370px;
  height: 404px;
  border: 1px solid #eeeeee;
  margin-bottom: 30px;
  position: relative;
}

.portfolio__carts:hover, .portfolio__carts:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 1px 2px 0px rgba(0, 4, 4, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.portfolio__carts:hover .portfolio__carts--hidden,
.portfolio__carts:focus .portfolio__carts--hidden {
  transform: translateY(0);
  opacity: 1;
}

.portfolio__carts--hidden {
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-align: left;
  padding: 24px 49px 45px 49px;
  color: #fff;
  position: absolute;
  top: 0px;
  width: 368px;
  height: 294px;
  border: 1px solid #000;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms linear, opacity 250ms linear;
}

.portfolio__title {
  font-weight: 700px;
  font-size: 18px;
  line-height: 2em;
  letter-spacing: 0.06;
  margin-top: 20px;
  margin-bottom: 4px;
}

.portfolio__text {
  font-size: 16px;
  line-height: 1.875em;
  letter-spacing: 0.03;
  color: #757575;
  margin-bottom: 20px;
  margin-top: 0;
}

.portfolio__title, .portfolio__text {
  padding-left: 24px;
}

.portfolio__for-hidden {
  overflow: hidden;
  position: relative;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .portfolio {
    margin-bottom: 0;
    width: 480px;
  }
  .portfolio__carts {
    width: 450px;
    margin: auto;
    margin-bottom: 30px;
  }
  .portfolio__img {
    width: 450px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__carts {
    width: 354px;
    height: 404px;
  }
  .portfolio__img {
    width: 354px;
    height: 294px;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  line-height: 1.92;
  letter-spacing: 0.03em;
  text-decoration-line: none;
}

.logo--light-theam {
  color: #000;
}

.logo--dark-theam {
  color: #fff;
}

.logo__span {
  color: #2196f3;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .logo {
    font-size: 24px;
  }
  .logo--light-theam {
    position: absolute;
    top: 8px;
    left: 15px;
  }
  .logo--dark-theam {
    display: flex;
    justify-content: center;
    padding-top: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .logo--light-theam {
    font-size: 24px;
    margin-right: 83px;
  }
  .logo--dark-theam {
    position: absolute;
    top: 60px;
    left: 115px;
    font-size: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}

.menu {
  display: flex;
  margin: 0px;
  padding: 0px;
}

.menu__list {
  list-style: none;
  display: flex;
  padding-left: 0;
}

.menu__link, .menu__list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
}

.menu__link {
  text-decoration-line: none;
  color: #212121;
}

.menu__link:hover, .menu__link:focus {
  color: #2196f3;
  cursor: pointer;
}

.menu__link--underline::after {
  display: block;
  content: " ";
  border-top: 4px solid #2196f3;
  border-radius: 2px;
  position: absolute;
  width: 53px;
  margin-top: 29px;
}

.menu__item {
  margin-right: 46px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .menu {
    display: none;
  }
  .menu__btn {
    position: absolute;
    top: 18px;
    right: 25px;
    background-color: #ffffff;
    cursor: pointer;
    border: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu__btn:hover, .menu__btn:focus {
    fill: #2196f3;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .menu {
    display: flex;
    flex-direction: row;
  }
  .menu__item {
    margin-right: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .menu {
    margin-left: 93px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .mobile-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 480px;
    min-height: 796px;
    background-color: #fff;
  }
  .mobile__btn--close {
    position: absolute;
    top: 21px;
    right: 21px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: none;
    cursor: pointer;
  }
  .mobile__btn--icon {
    width: 18px;
    height: 18px;
  }
  .mobile__btn--icon:focus, .mobile__btn--icon:hover {
    fill: #2196f3;
  }
  .menu-modal {
    display: block;
    margin-top: 48px;
    list-style: none;
    padding: 0px;
  }
  .menu-modal__link {
    display: block;
    color: #212121;
    text-decoration: none;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    text-align: left;
    margin-left: 32px;
  }
  .menu-modal__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .menu-modal__link:hover,
  .menu-modal__link.current,
  .menu-modal__link:focus {
    color: #2196f3;
  }
  .menu-modal-contacts {
    display: block;
    margin-top: 306px;
    list-style: none;
    padding: 0px;
  }
  .menu-modal-contacts__tel {
    display: block;
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #2196f3;
    text-decoration: none;
    margin-left: 40px;
    margin-bottom: 32px;
  }
  .menu-modal-contacts__mail {
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.667;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
    margin-left: 40px;
  }
  .menu-modal-social {
    display: flex;
    margin-left: 40px;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    margin-top: 64px;
    list-style: none;
    padding: 0px;
  }
  .menu-modal-social__link {
    text-decoration: none;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196f3;
    margin-top: 64px;
  }
  .menu-modal-social__item:not(:first-child)::before {
    content: "";
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
    margin-right: 10px;
    margin-left: 10px;
  }
  .btn-close .mobile {
    border: none;
    border-radius: 0;
    top: 18px;
    right: 18px;
  }
}

@media screen and (min-width: 768px) {
  .menu__btn {
    display: none;
  }
}

.contact {
  margin-left: auto;
  fill: #757575;
}

.contact__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  text-decoration-line: none;
  color: #757575;
  display: flex;
}

.contact__link--envelope {
  width: 16px;
  height: 12px;
}

.contact__link--smartphone {
  width: 10px;
  height: 16px;
}

.contact__link--smartphone, .contact__link--envelope {
  margin-right: 10px;
}

.contact__link:hover, .contact__link:focus {
  color: #2196f3;
  fill: #2196f3;
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .contact {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact__link {
    font-size: 12px;
    margin: 0;
    padding-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    display: flex;
    align-items: center;
  }
  .contact__link {
    margin: 32px 27px 32px 50px;
    min-width: 110px;
  }
}

.secondary-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.667em;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  margin-top: 94px;
  align-self: center;
  color: #212121;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .secondary-title {
    margin-top: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .secondary-title {
    margin-top: 60px;
  }
}

.tertiaty-title {
  font-weight: 700;
  line-height: 1.172em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .tertiaty-title {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .tertiaty-title {
    font-size: 14px;
  }
  .footer__social > .tertiaty-title {
    position: absolute;
    top: 65px;
    right: 140px;
  }
  .footer__newsletter > .tertiaty-title {
    position: absolute;
    top: 242px;
    left: 280px;
  }
}

.adress {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  font-style: normal;
}

.adress__list {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

.adress__link {
  text-decoration-line: none;
  color: #fff;
  padding: auto;
  text-decoration-line: none;
  list-style: none;
  flex-wrap: nowrap;
}

.adress__link:focus, .adress__link:hover {
  color: #2196f3;
}

.adress__link--opacity {
  opacity: 0.6;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .adress {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .adress {
    position: absolute;
    top: 108px;
    left: 76px;
    text-align: center;
  }
  .adress__link {
    padding-bottom: 8px;
  }
}

.join-us {
  align-items: flex-start;
}

.join-us__list {
  list-style: none;
  padding-left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.join-us__link {
  width: 44px;
  height: 44px;
  fill: #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 20px;
}

.join-us__link:hover, .join-us__link:focus {
  background-color: #2196f3;
  fill: #fff;
}

.join-us__icon {
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .join-us {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .join-us__list {
    position: absolute;
    top: 81px;
    right: 89px;
  }
}

.news {
  display: flex;
  align-items: center;
}

.news__form {
  background-color: #2f303a;
  width: 358px;
  height: 50px;
  font-size: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  margin-top: 20px;
  margin-right: 12px;
  padding-left: 16px;
}

.news__btn {
  background-color: #2196f3;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875em;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border: none;
}

.news__send {
  fill: #fff;
  width: 24px;
  height: 24px;
  margin-left: 24px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .news {
    display: flex;
    flex-direction: column;
  }
  .news__form {
    width: 450px;
    margin-top: 0px;
    font-weight: 400;
    margin: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .news__form {
    position: absolute;
    width: 450px;
    margin-top: 0px;
    font-weight: 400;
    margin: auto;
    top: 283px;
    left: 160px;
  }
  .news__btn {
    position: absolute;
    bottom: 60px;
    left: 285px;
  }
}
/*# sourceMappingURL=main.css.map */