.filtr {
  display: flex;
  padding: 0px;
  justify-content: center;
  list-style: none;

  &__btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625em;
    text-align: center;
    letter-spacing: 0.03;
    background-color: getColor("background-tertiary");
    border-radius: 4px;
    min-height: 38px;
    border: none;
    margin-left: 8px;
    padding-left: 22px;
    padding-right: 22px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
      color: #fff;
      background-color: getColor("accent");
      cursor: pointer;
      box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
        0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .filtr {
    flex-wrap: wrap;
    margin-top: 60px;
    margin-bottom: 0;
    justify-content: start;

    &__btn {
      margin-bottom: 15px;
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .filtr {
    width: 100%;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .filtr {
    margin-top: 94px;
    margin-bottom: 50px;
  }
}
