.logo {
  font-family: $secundary-font;
  font-weight: 700;
  line-height: 1.92;
  letter-spacing: 0.03em;
  text-decoration-line: none;

  &--light-theam {
    color: #000;
  }

  &--dark-theam {
    color: #fff;
  }

  &__span {
    color: getColor("accent");
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .logo {
    font-size: 24px;

    &--light-theam {
      position: absolute;
      top: 8px;
      left: 15px;
    }

    &--dark-theam {
      display: flex;
      justify-content: center;
      padding-top: 60px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .logo--light-theam {
    font-size: 24px;
    margin-right: 83px;
  }

  .logo--dark-theam {
    position: absolute;
    top: 60px;
    left: 115px;
    font-size: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}
